<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">

<head>
    <title>$title$$if(title)$ -- $endif$dramforever</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
$if(name)$
    <meta property="og:url" content="https://dram.page/p/$name/nowrap$">
    <meta property="og:type" content="article">
    <meta property="og:title" content="$title/nowrap$">
$endif$
    <link rel="stylesheet" href="/styles/default.css">
</head>

<body>

<div id="site-title">
    <h1 id="site-title-main"><a href="/">
        dramforever
    </a></h1>
    <div id="site-title-sub">a row of my life</div>
</div>
