a {
    color: black;
    text-decoration: underline;
}

body {
    max-width: 691px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
    body {
        width: 90%;
    }
}

#site-title {
    padding-bottom: 15px;
}

#site-title-main {
    font-size: 40px;
    border-bottom: 3px solid black;
    font-weight: normal;
    display: block;
    margin: 0;
    margin-bottom: 3px;
}

#site-title-main > a {
    text-decoration: none;
}

#site-title-sub {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;
}
