a {
    color: black;
    text-decoration: underline;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility:hidden;
}

*html .clear {
    height: 1%;
}
*+html .clear {
    height: 1%;
}

.clear {
    display:block;
}

body {
    max-width: 691px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 767px) {
    body {
        width: 90%;
    }
}

#site-title {
    padding-bottom: 15px;
}

#site-title-main {
    font-size: 40px;
    border-bottom: 3px solid black;
    font-weight: normal;
    display: block;
    margin: 0;
}

#site-title-main > a {
    text-decoration: none;
}

#site-title-sub {
    float: right;
    margin-right: 3%;
}

