#post-title
{
    margin-top: 20px;
}

#post-title-main
{
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 3px;
}

#post-title-sub
{
    display: inline;
    color: gray;
    float: right;
    font-size: 20px;
}

pre
{
    background-color: #f8f8f8;
    overflow-x: auto;
    padding: 5px;
}

:not(pre) > code
{
    background-color: #f8f8f8;
    padding: 4px 10px;
}
