#post-title {
    margin-top: 20px;
    border-bottom: 2px solid black;
}

#post-title-main {
    display: inline;
    margin: 0;
    font-weight: normal;
    font-size: 30px;
}
#post-title-sub {
    display: inline;
    color: gray;
    float: right;
    top:10px;
    font-size: 20px;
    position: relative;
}