#post-title
{
    margin-top: 20px;
}

#post-title-main
{
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 3px;
}

#post-title-sub
{
    display: inline;
    color: gray;
    float: right;
    font-size: 20px;
}

pre
{
    background-color: #f8f8f8;
    overflow-x: auto;
    padding: 5px;
}

:not(pre) > code
{
    background-color: #f8f8f8;
    padding: 4px 10px;
}

figure * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

figure figcaption {
    font-style: italic;
}

article p a[href]::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    bottom: -3px;
    content: "";
    background-size: contain;
    color: gray;
    text-decoration: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNMTQuNzggMy42NTNhMy45MzYgMy45MzYgMCAxMTUuNTY3IDUuNTY3bC0zLjYyNyAzLjYyN2EzLjkzNiAzLjkzNiAwIDAxLTUuODgtLjM1My43NS43NSAwIDAwLTEuMTguOTI4IDUuNDM2IDUuNDM2IDAgMDA4LjEyLjQ4NmwzLjYyOC0zLjYyOGE1LjQzNiA1LjQzNiAwIDEwLTcuNjg4LTcuNjg4bC0zIDNhLjc1Ljc1IDAgMDAxLjA2IDEuMDYxbDMtM3oiPjwvcGF0aD48cGF0aCBkPSJNNy4yOCAxMS4xNTNhMy45MzYgMy45MzYgMCAwMTUuODguMzUzLjc1Ljc1IDAgMDAxLjE4LS45MjggNS40MzYgNS40MzYgMCAwMC04LjEyLS40ODZMMi41OTIgMTMuNzJhNS40MzYgNS40MzYgMCAxMDcuNjg4IDcuNjg4bDMtM2EuNzUuNzUgMCAxMC0xLjA2LTEuMDZsLTMgM2EzLjkzNiAzLjkzNiAwIDAxLTUuNTY3LTUuNTY4bDMuNjI3LTMuNjI3eiI+PC9wYXRoPjwvc3ZnPgo=");
}
