a {
    text-decoration: none;
}

.imt {
    padding: 0px;
    margin: 0px;
    width: 46vw;
    display: inline-block;
    border: 1vw solid white;
}

.imt.act {
    border-color: blue;
}

.smallGreen {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 23px;
    background-color: #080;
    color: white;
}

.bigGreen {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 40px;
    background-color: #080;
    color: white;
}

.introwhite {
    height: 30%;
}

.midwhite {
    height: 15px;
}
.bbco {
    padding-left: 27vw;
}

.bigB {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    background-color: #080;
    color: white;
    margin: 1vw;
    font-size: 10vw;
    text-align: center;
    line-height: 20vw;
}
